.text-area{
    border: 1px solid;
    padding: 8px;
    text-align: justify;
    margin: 0 auto;
  }
  
  .btn btn-padrao{
    margin-top: 20px;
  }
  
  .page-text{
    font-size: 110%;
  }
  
  .text-header{
    font-weight: bolder;
  }
  
  .text-agendamento{
    margin-bottom: 8px;
  }
  
  .card-divider{
    margin-left: -24px; 
    margin-right: -20px; 
  }
  
  .color-blue{
    color: #007bff;
  }
  
  .card-agendamento {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    padding: 14px; 
    padding-left: 24px; 
    padding-right: 20px;
    width: 100%;
    margin-bottom: 20px; 
  }
  
  .card-titulo{
    font-size: 110%;
    font-weight: bolder;
  }