<div [@routerTransition]>

    <div class="row justify-content-center">
        <div class="col-11 col-xl-3 col-lg-6">
            <h2 class="text-center">Agendamentos</h2>
        </div>
        <div class="col-11 col-xl-3 col-lg-6">
            <div class="input-group datepicker-home">
                <input class="form-control text-center" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                    ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div *ngFor="let agends of listAgendamentos" class="col-12 col-sm-6 col-lg-4 col-xl-3">

            <div class="card-agendamento">
                <div class="card-titulo text-center">
                    <span class="">
                        {{agends.sala}} &nbsp; <span class="color-blue">{{agends.ageData | date: 'dd/MM/yyyy'}}</span>
                    </span>
                </div>
                <hr class="card-divider">
                <div class="row">
                    <span><b>Unidade:</b> {{agends.unidade}}</span>
                </div>
                <div class="row">
                    <span><b>Responsável:</b> {{agends.pessoa_responsavel}}</span>
                </div>
                <div class="row">
                    <span><b>Assunto:</b> {{agends.ageAssunto}}</span>
                </div>
                <div class="row">
                    <span><b>Período:</b> {{agends.ageHoraInicio}} <b>às</b> {{agends.ageHoraFim}}</span>
                </div>
                <div class="row">
                    <span><b>Status:</b> {{agends.ageStatus}}</span>
                </div>
                <hr class="card-divider">
                <div class="row justify-content-md-center">
                    <!--- <button class="btn btn-padrao" (click)="openDialog(agends)">Detalhes</button>
                    <button class="btn btn-padrao" (click)="abrirDetalhes(agends, modalDetalhes)">Detalhes</button>-->
                </div>
            </div>

        </div>
    </div>

    <!-- <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}
    </ngb-alert>-->
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.card-header -->

                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header 
                <app-notification></app-notification>-->
                <!-- /.card-body -->
            </div>
            <!-- /.card-->

        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
