<span mat-dialog-title class="text-center">
    {{data.sala}} &nbsp; <span class="color-blue">{{data.ageData | date: 'dd/MM/yyyy'}}</span>
    <hr class="card-divider">
</span>
<mat-dialog-content>
    <div class="page-text">
        <div class="row">
            <div class="col-12 col-lg-2">
                <span class="text-header">Unidade:</span>
            </div>
            <div class="col-12 col-lg-10 text-agendamento">
                {{data.unidade}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-2">
                <span class="text-header">Responsável:</span>
            </div>
            <div class="col-12 col-lg-10 text-agendamento">
                {{data.pessoa_responsavel}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-2">
                <span class="text-header">Período:</span>
            </div>
            <div class="col-12 col-lg-10 text-agendamento">
                {{data.ageHoraInicio}} <span class="text-header">às </span>{{data.ageHoraFim}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-2">
                <span class="text-header">Assunto:</span>
            </div>
            <div class="col-12 col-lg-10 text-agendamento">
                {{data.ageAssunto}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <span class="text-header">Descrição:</span>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-11 col-lg-11 text-area">
                {{data.ageDescricao}}
            </div>
        </div>
        <button class="btn btn-padrao" (click)="close()">Fechar</button>
    </div>
</mat-dialog-content>