<div>
    <app-page-header *ngIf="selEquipamento != null" [heading]="'Equipamentos - Detalhes do Equipamento'">
    </app-page-header>
    <app-page-header *ngIf="selEquipamento == null" [heading]="'Equipamentos - Adicionar Equipamento'">
    </app-page-header>

    <br />
    <div class="row justify-content-md-center">
        <div class="col-10 col-sm-8 col-md-8 col-lg-7">
            <form [formGroup]="formAddEquipamento">
                <div class="row">
                    <div class="col-2 col-sm-3 col-md-4 col-lg-2">
                        <span>Código</span>
                        <input type="text" class="form-control" formControlName="equId" disabled>
                    </div>
                    <div class="col-2 col-sm-4 col-md-4 col-lg-3">
                        <span>Data Cadastro</span>
                        <input type="text" class="form-control" formControlName="equDtCadastro" disabled>
                    </div>
                    <div *ngIf="permissao == 'ROLE_ADMIN'" id="checkbox" class="col-2 col-sm-4 col-md-4 col-lg-3">
                        <mat-checkbox formControlName="equAtiva" checked="formAddEquipamento.equAtiva"
                            [labelPosition]='labelPosition'>
                            Ativa?</mat-checkbox>
                    </div>
                    <div *ngIf="permissao != 'ROLE_ADMIN'" id="checkbox" class="col-2 col-sm-4 col-md-4 col-lg-3">
                        <mat-checkbox [disabled]="true" formControlName="equAtiva"
                            checked="formAddEquipamento.equAtiva" [labelPosition]='labelPosition'>
                            Ativa?</mat-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 col-sm-4 col-md-4 col-lg-5 col-xl-5">
                        <span>Nome</span>
                        <input type="text" class="form-control" formControlName="equNome" autofocus required>
                    </div>
                    <div class="col-2 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                        <span>Unidade</span>
                        <mat-select class="form-control" [formControl]="selUnidade">
                            <mat-option *ngFor="let unidade of listUnidades" [value]="unidade"
                                (onSelectionChange)="log(unidade)">
                                {{unidade.uniNome}}
                            </mat-option>
                        </mat-select>
                        <!--<mat-error *ngIf="selUnidade.hasError('required')">Escolha uma Unidade!</mat-error>-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 col-sm-4 col-md-4 col-lg-5 col-xl-8">
                        <span>Descrição</span>
                        <textarea class="form-control" formControlName="equDescricao"></textarea>
                    </div>
                </div>
                <br>
                <div class="row ml-auto">
                    <a class="col-3 col-sm-2 col-md-3 col-lg-3 btn btn-padrao" [routerLink]="['/equipamentos']"
                        [routerLinkActive]="['router-link-active']">
                        Voltar
                    </a>
                    <a *ngIf="permissao == 'ROLE_ADMIN'" class="col-3 col-sm-2 col-md-3 col-lg-3 btn btn-padrao"
                        (click)="adicionarEquipamento()">
                        Adicionar
                    </a>
                </div>
                <br>
                <div *ngIf="selEquipamento != null" class="row text-muted ml-auto">
                    <span>Última Atualização por <span class="text-bolder">{{equPesAtualizacao | uppercase}}</span>
                        no dia <span class="text-bolder">{{equPesDtAtualizacao | date: "dd/MM/yyyy"}}</span></span>
                </div>
            </form>
        </div>
    </div>
</div>