<div>
    <app-page-header *ngIf="selPessoa != null" [heading]="'Pessoas - Detalhes da Pessoa'"></app-page-header>
    <app-page-header *ngIf="selPessoa == null" [heading]="'Pessoas - Adicionar Pessoa'"></app-page-header>

    <br />
    <div class="row justify-content-md-center">
        <div class="col-10 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <form [formGroup]="formAddPessoa">
                <div class="row">
                    <div class="col-2 col-sm-3 col-md-4 col-lg-2 col-xl-2">
                        <span>Código</span>
                        <input type="text" class="form-control" formControlName="pesId" disabled>
                    </div>
                    <div class="col-2 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                        <span>Permissão</span>
                        <mat-select class="form-control" [(value)]="selPermissao">
                            <mat-option value="ROLE_USUARIO">Usuario</mat-option>
                            <mat-option value="ROLE_ADMIN">Administrador</mat-option>
                            <mat-option value="ROLE_TABLET">Tablet</mat-option>
                        </mat-select>
                    </div>
                    <div class="col-2 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                        <span>Data Cadastro</span>
                        <input type="text" class="form-control" formControlName="pesDtCadastro" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 col-sm-4 col-md-4 col-lg-5 col-xl-5">
                        <span>Nome</span>
                        <input type="text" class="form-control" formControlName="pesNome">
                    </div>
                    <div class="col-2 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                        <span>Unidade</span>
                        <mat-select class="form-control" [formControl]="selUnidade">
                            <mat-option *ngFor="let unidade of listUnidades" [value]="unidade"
                                (onSelectionChange)="log(unidade)">
                                {{unidade.uniNome}}
                            </mat-option>
                        </mat-select>
                        <!--<mat-error *ngIf="selUnidade.hasError('required')">Escolha uma Unidade!</mat-error>-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 col-sm-4 col-md-4 col-lg-8 col-xl-8">
                        <span>E-mail</span>
                        <input type="email" class="form-control" formControlName="pesEmail">
                    </div>
                </div>

                <div class="row">
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2">
                        <span>DDD</span>
                        <input type="text" class="form-control" formControlName="pesDDD">
                    </div>
                    <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3">
                        <span>Telefone</span>
                        <input type="text" class="form-control" formControlName="pesTelefone">
                    </div>
                </div>
                <br>
                <div class="row ml-auto">
                    <a class="col-3 col-sm-2 col-md-3 col-lg-3 btn btn-padrao" [routerLink]="['/pessoas']"
                        [routerLinkActive]="['router-link-active']">
                        Voltar
                    </a>
                    <a *ngIf="permissao == 'ROLE_ADMIN'" class="col-3 col-sm-2 col-md-3 col-lg-3 btn btn-padrao"
                        (click)="adicionarPessoa()">
                        Adicionar
                    </a>
                </div>
                <br>
                <div *ngIf="selPessoa != null" class="row text-muted ml-auto">
                    <span>Última Atualização por <span class="text-bolder">{{pesAtualizacao | uppercase}}</span>
                        no dia <span class="text-bolder">{{pesDtAtualizacao | date: "dd/MM/yyyy"}}</span></span>
                </div>
            </form>
        </div>
    </div>
</div>