.list-group-item{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.btn-selecionar{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.divNews{
    margin-top: 5px;
}

.fa-calendar-check-o{
    color: green;
}