/* Column Widths */
.mat-column-pesId {
    max-width: 10px;
}
.mat-column-pesNome,
.mat-column-pesUnidade,
.mat-column-pesDescricaoPermissao {
    max-width: 25px;
}
.mat-column-detalhes {
    max-width: 10px;
}