<div>
    <app-page-header [heading]="'Pessoas'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <table class="card-body table table-hover">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Função</th>
                        <th>Setor</th>
                        <th>Unidade</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">5082</th>
                        <td>João da Silva</td>
                        <td>Recrutador</td>
                        <td>RH</td>
                        <td>São Paulo</td>
                    </tr>
                    <tr>
                        <th scope="row">5083</th>
                        <td>Maria Aparecida</td>
                        <td>Secretária</td>
                        <td>RH</td>
                        <td>São Paulo</td>
                    </tr>
                    <tr>
                        <th scope="row">5084</th>
                        <td>Felipe Haag</td>
                        <td>Analista</td>
                        <td>Desenvolvimento</td>
                        <td>Blumenau</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
