<div>
    <app-page-header [heading]="'Pessoas - Importar Pessoas'"></app-page-header>

    <br />
    <div class="row justify-content-md-center">
        <div class="col-10 col-sm-11 col-md-11 col-lg-11">
            <form role="form">
                <div class="row">
                    <div class="col-6 col-sm-5 col-md-4 col-lg-6 col-xl-4">
                        <input type="file" #fileImportInput name="File Upload" id="txtFileUpload"
                            (change)="fileChangeListener($event)" accept=".csv" />
                    </div>
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-5">
                        <button [disabled]="!importLiberado" class="btn btn-padrao" (click)="importarPessoas()">
                            Importar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>