/* Column Widths */
  .mat-column-equId {
    max-width: 30px;
 }
.mat-column-equNome {
    max-width: 55px;
}
.mat-column-equUnidade {
    max-width: 40px;
}
 .mat-column-detalhes,
 .mat-column-equAtiva {
    max-width: 15px;
 }