#step1{
    min-height: 20em;
}

.datepicker-home{
    //margin-top: 24px;
    max-width: 180px;
}

.btn-filtrar{
    margin-top: 24px;
    width: 100px;
}

.table-salas{
    margin: 0 auto;
    padding: 10px;
    border: black solid;
}

.card-body {
    max-height: 180px;
    overflow-y: scroll;
}

  h2{
    margin-top: 10px;
    margin-right: -50px; 
  }

  .page-text{
    font-size: 110%;
  }
  
  .card-agendamento {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    padding: 12px; 
    padding-left: 24px; 
    padding-right: 20px;
    margin-bottom: 20px;
}
  
.card-titulo{
    font-size: 110%;
    font-weight: bolder;
}

.mat-column-select {
    overflow: initial;
  }

  .list-group-item{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.btn-selecionar{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}